h1 {
color: blue;
font-size: 30px;
text-align: center;
}

h2 {
  color: red;
  font-family: Impact;
  font-size: 25px;
  letter-spacing: 0px;
  text-align: center;
}

h3 {
  font-size: 24px;
  padding: 15px 20px;
  background-color: orange;
}

hr {
  height: 10px;
  border: 5px;
  background-color: green;
}

u1 {
  color: teal;
  font-size: 15px;
  text-align: right;
  border: solid;
}
